* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    flex-basis: 25%;
}

.box-1 {
    background-color: red;
}
.box-2 {
    background-color: green;
}
.box-3 {
    background-color: blue;
}
.box-4 {
    background-color: yellow;
}
.box-5 {
    background-color: lightsalmon;
}
.box-6 {
    background-color: lightcyan;
}
.box-7 {
    background-color: grey;
}
.box-8 {
    background-color: orange;
}

@media screen and (max-width: 375px) {
    .container {
        /* grid-template-columns: 1fr; */
        flex-basis: 100%;
    }
}

@media screen and (min-width: 376px) and (max-width: 520px) {
    .container {
        /* grid-template-columns: repeat(2, 1fr); */
        flex-basis: 50%;
    }
}
/* применяем стиль на иконке */
.cart-icon {
    color: red;
    font-size: 40px;
}